body {
    background-image: url("../images/selectorWallpaper.jpg");
    background-size: 100% 100%;
}

div {
/*background-color: #28AFB0;*/
position: relative;
top: 150px; /*centrare automata de preferat*/
height: 400px;
width: 30%;
margin: auto;
/*text-align: center;*/
display: flex;
flex-direction: column;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}

button {
    width: 300px;
    height: 40px;
    background: rgba(230, 242, 240, 0.5);
    font-size: 20px;
}

p {
    font-size: 40px;
}

button, p {
    font-weight: bold;
    font-family: "Times New Roman";
}